body,
html {
  background: linear-gradient(45deg, #002d40 6%, #002d40 15%, #e54661 143%);
}
.App {
  color: white;
  padding-top: 1%;
  min-height: 100vh;
  padding-bottom: 1%;
}

.off {
  color: grey;
}

.switcher:focus {
  outline: none;
}
.header h1 {
  color: white;
}
/*-----------------------Navbar Styles-------------------------------------*/

.btn {
  color: white;
  background-color: inherit;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
  transition: border 1s ease;
}
.btn:hover {
  border: 1px solid rgba(255, 255, 255, 0.8);
}

/*---------------------------Main Info Syles----------------------------*/
.list-group-item:last-child {
  border-radius: 0px;
}
.list-group-item:first-child {
  border-radius: 0px;
}

/*-------------------------Transtions-----------------------------------------*/

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
